 body {
  height: 100%;

  background-color: #e8fddf

}
 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  } /* To format the text */
  
  .top {
    height: 10vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(to left,  rgb(10, 101, 177),rgb(92, 165, 85));
  }
#logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 10vh;
    height: 10vh;
    z-index: 5;
    cursor: pointer;
  } /* Image placing */
#place{
  position: absolute;
  top: vh;
  left: 1vw;
  width: 30vh;
  height: 30vh;
}

.icons{
  width: 5vh;
  height: 6vh;
}

#map{
  width: 22vh;
  height: 22vh;
}
.contactContainer {
  width:300px;
  display:flex;
  align-items:center; 
}
.contactContainer img { 
  width:50px;
  
  margin-right:20px;

  
}

#cnt{
  margin: 0%;
  width: 5vh;
}


/* divider between the additional info section and the review section*/
.ori {
  margin: 0 -15px;
  top:10vh;
  position:absolute;
  border-top: 40px solid #5ca555;
}


button {
  
  border-radius: 0.25rem;
  height: 2.75rem;
  width: 3.5rem;
  line-height: 2.5rem;
  font-size: 1.2rem;
  color: #ADAFBC;
  background-color: transparent;
  transition: transform 50ms;
}

button:hover {
  background-color: #5ca555;
}

button:active {
  transform: translateY(0.1rem);
}

.small {
  font-size: 1.4rem;
  color: #F19994; 
}
.medium {
  font-size: 1.6rem;
  color: #FF8484;  
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: green;
  color: white;
  text-align: center;
  
}

#topLeft {
  position: absolute;
  top:10vh;
  left: 0;
}
#right{
  position: absolute;
  width : 30vw;
  left: 70vw;
  top: 12vh;
  text-align: center;
}

h2,h1{
  height: auto;
  margin: 2%;
}
#bottomRight{
  position: absolute;
  width: 20vw;
  height: auto;
  text-align: inherit;
  left: 40vw;
  top: 10vh;
  text-align: center;
}

#ad{
  position: absolute;
  left: 5.5vh;
  top: 0%;
  margin-top: 1.7vh;
}


#time{
  position: absolute;
  bottom: 61vh;
  width: 20vw;
  height: auto;
  text-align: center;
  left: 17vw;
}

#rate{
  position: absolute;
  width: auto;
  left: 24.8vw;
  bottom: 81vh;
  text-align: center;
}

#expense{
  position: absolute;
  width: auto;
  left: 24.5vw;
  bottom: 71vh;
  text-align: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 12px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.formcontainer1 {
  position:absolute;
  top:40vh;
  border-radius: 2vw;
  background-color: #f2f2f2;
  padding: 2vw;
  left:0;
  width: 96vw;
}
